<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="popup.css">
</head>

<body>
  <div id="app">
    <table>
      <thead>
        <tr>
          <th width="60px">市场</th>
          <th width="80px">股票代码</th>
          <th width="150px">股票名称</th>
          <th width="100px">当前价</th>
          <th width="150px">涨跌幅</th>
          <th width="150px">操作</th>
        </tr>
      </thead>
      <tbody>
        <template v-for="stock in stocks">
          <tr>
            <td>{{regionMap[stock.market.region]}}</td>
            <td><a href="javascript:void(0)" @click="handleOpenWindow(stock.quote.symbol)">{{stock.quote.symbol}}</a>
            </td>
            <td>{{stock.quote.name}}</td>
            <!-- 小于 0 红色，大于 0 绿色，等于 0 黑色 -->
            <td class="text-right" :class="{ 'text-red': stock.quote.chg > 0, 'text-green': stock.quote.chg < 0 }">{{stock.quote.current}}</td>
            <td class="text-right" :class="{ 'text-red': stock.quote.chg > 0, 'text-green': stock.quote.chg < 0 }">{{stock.quote.chg}}({{stock.quote.percent}}%)</td>
            <td class="options">
              <input type="button" value="⬆" @click="handleUp(stock.quote.symbol)"></input>
              <input type="button" value="⬇" @click="handleDown(stock.quote.symbol)"></input>
              <input type="button" value="移除" @click="handleRemove(stock.quote.symbol)"></input>
            </td>
          </tr>
        </template>
        <tr>
          <td colspan="5">
            <input class="input" v-model="value" @keyup.enter="handleSave" placeholder="输入完整股票代码。如：SH000001"></input>
          </td>
          <td class="options">
            <input type="button" value="添加" @click="handleSave" />
          </td>
        </tr>
        <tr>
          <td colspan="5" style="text-align: left;">
            <input v-model="calcValues[0]" placeholder="原数值"></input>
            ->
            <input v-model="calcValues[1]" placeholder="现数值"></input>
            <span>涨跌幅：{{changePercent}}%</span>
          </td>
          <td class="options">
            <input type="button" value="计算涨跌幅" @click="handleChangePercent" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <script src="lib/vue.global.prod.js"></script>
  <script src="popup.js"></script>
</body>

</html>