body {
  width: 650px;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  text-align: center;
}

table td {
  padding: 5px;
}

tbody tr:hover {
  background: #f5fafe;
}

.text-right {
  text-align: right;
}

.options {
  display: flex;
  justify-content: space-around;
}

.input {
  width: 100%;
}